
<VirtualHost *:8081>
	ServerAdmin admin@cuoregroup.com
  ServerName localhost

	DocumentRoot /var/adminer
	<Directory />
		Options FollowSymLinks
		AllowOverride All
	</Directory>
	<Directory /var/adminer/>
		Options -Indexes +FollowSymLinks +MultiViews
		AllowOverride All
		Order allow,deny
		allow from all
	</Directory>

	ErrorLog ${APACHE_LOG_DIR}/adminer.error.log

	# Possible values include: debug, info, notice, warn, error, crit,
	# alert, emerg.
	LogLevel warn

	CustomLog ${APACHE_LOG_DIR}/adminer.access.log combined
</VirtualHost>
