#/bin/sh

fschan=$(fs_cli --password=Cuore123SCAPI -x 'show channels count' | grep -o '^\S*')

aws cloudwatch put-metric-data \
        --metric-name ActiveChannels \
        --namespace "Telco" \
        --value $fschan \
        --unit "Count" \
        --dimensions "FreeSWITCH Node"={{ fsStr }}
