#!/bin/bash

logger -i -t "dbcore_health" "Going to check dbcore's health"

for db in core.db sofia_reg_external.db;
do
	sqlite3 /var/lib/freeswitch/db/$db < /etc/freeswitch/sqlite3.cmd > /dev/null
	MYRES=$?
	chown freeswitch:freeswitch /var/lib/freeswitch/db/$db
	echo "result(MYRES): $MYRES"
	if [ $MYRES -ne 0 ];
	then
		# Error! publish 1 to AWS
		logger -i -t "db_health" "Just checked "$db"'s health, error result: $MYRES"
		echo "result: $MYRES"
		metricname="$db"
		/usr/bin/aws cloudwatch put-metric-data \
		        --metric-name $metricname \
		        --namespace "Telco" \
		        --value 1 \
		        --unit "Count" \
                        --dimensions "FreeSWITCH Node"={{ fsStr }}  
	else
		# All good, publish 0 to AWS
		logger -i -t "db_health" "Just checked "$db"'s health, result: $MYRES"
		echo "result: $MYRES"
		metricname="$db"
		/usr/bin/aws cloudwatch put-metric-data \
		        --metric-name $metricname \
		        --namespace "Telco" \
		        --value 0 \
		        --unit "Count" \
                --dimensions "FreeSWITCH Node"={{ fsStr }}
	fi
done

