#!/bin/bash

# Getting call dates (space separated)
CALLS=$(sudo fs-calls.sh | awk '{print $2}' | awk '{gsub("created","");print}')

# Turn calls into an array
a=($(echo "$CALLS" | tr '' '\n'))

# Get count of channels that are older than current date. Also ignores blank line so it doesnt push a 1 when there are 0 calls
STUCK=$(printf '%s\n' "${a[@]}" | grep -v `date +%F` | grep -c -v ^$)

aws cloudwatch put-metric-data \
  --metric-name StuckChannels \
  --namespace "Telco" \
  --value $STUCK \
  --unit "Count" \
  --dimensions "FreeSWITCH Node"={{ fsStr }}
